<div class="container text-left" style="margin-top: 10%;">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <p-image src="assets/images/logo.png" alt="Image" width="250"></p-image>
      <br><br>
      <span class="p-label">
        <label for="username2" style="margin-right: 1em;">Username:</label>
        <input id="username2" type="text" pInputText [(ngModel)]="username">
      </span>
      <br><br>
      <span class="p-label">
        <label for="password2" style="margin-right: 1em;">Password:</label>
        <input id="password2" type="password" pInputText style="margin-left: 1%;" [(ngModel)]="password">
      </span>
      <br><br>
      <a (click)="show()">
        <button pButton pRipple type="button" label="Sign up" class="p-button-primary"></button>
      </a>
      <a (click)="login()">
        <button pButton pRipple type="button" label="Login" class="p-button-secondary"
          style="background-color: black; margin-left: 28%"></button>
      </a>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>