<p-table [value]="requests" responsiveLayout="scroll">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            Registration requests
            <p-button icon="pi pi-refresh" style="margin-left: 5%;" (click)="refreshRequests()"></p-button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Lastname</th>
            <th>Car</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-request>
        <tr>
            <td>
                {{request?.username}}
            </td>
            <td>
                {{request?.name}}
            </td>
            <td>
                {{request?.lastName}}
            </td>
            <td>
                {{request?.carDescription}}
            </td>  
            <td>
                <p-button icon="pi pi-check" style="margin-left: 5%;" (click)="approve(request.username)"></p-button>
                <p-button icon="pi pi-trash" class="p-button-danger"  style="margin-left: 5%;" (click)="disapprove(request.username)"></p-button>
            </td>         
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            In total there are {{requests ? requests.length : 0 }} requests.
        </div>
    </ng-template>
</p-table>
