<div class="component">
  <div class="row">
    <div class="col-md-3">
      <div style= "white-space: nowrap; overflow-y: scroll; min-height: 80%;">
        <p-panel header="Channels">
          <div *ngFor="let chat of chats">
            <p-card (click)="connect(chat.name)">
              {{ chat.name }}
            </p-card>
          </div>
        </p-panel>
      </div>
    </div>
    <div class="col-md-9">
      <div>
        <div class="card">
          <div class="card-header msg_head">
            <div class="d-flex bd-highlight">
              <div class="user_info">
                <span>Chat with {{ otherUser?.name }} {{ otherUser?.lastName }}</span>
              </div>
            </div>
          </div>
          <div #chat id="chat" class="card-body msg_card_body" style="height: 500px;">
            <div class="container" style="max-height: 500px;">
              <div *ngFor="let msg of messages | async">
                <div class="d-flex justify-content-start mb-4" *ngIf="msg.sender === otherUser!.username; else thisUserMsg">
    
                  <div class="msg_cotainer">
                    <p-card [style]="{'background-color': 'black', 'color': 'white'}">
                      {{ msg.content }}
                    </p-card>
                    <span class="msg_time">{{
                      whenWasItPublished(msg.timeStamp)
                      }}</span>
                  </div>
                </div>
    
                <ng-template #thisUserMsg>
                  <div class="d-flex justify-content-end mb-4">
                    <div class="msg_cotainer_send">
                      <p-card [style]="{'background-color': 'orange', 'color': 'white'}">
                        {{ msg.content }}
                      </p-card>
                      <span class="msg_time_send">{{
                        whenWasItPublished(msg.timeStamp)
                        }}</span>
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>
            <!--messages - start> -->
            <!--messages - end-->
          </div>
          <div class="card-footer">
            <div class="input-group">
              <div class="input-group-append">
                <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
              </div>
              <textarea name="" class="form-control type_msg" placeholder="Type your message..."
                [(ngModel)]="newMessage"></textarea>
              <div class="input-group-append">
                <span (click)="sendMsg()" class="input-group-text send_btn"><i class="material-icons"
                    style="font-size: 36px">send</i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>