<div class="box">
    <div class="row">
        <div class="col-md-2">
            <a (click)="logout()" style="margin-left: 5%; margin-top: 5%;">
                <button pButton pRipple type="button" label="Logout" icon="pi pi-sign-out"
                class="p-button-primary" style="margin-left: 5%; margin-top: 5%;">
            </button>
            </a>
        </div>
        <div class="col-md-10">
            <p-tabView styleClass="tabview-custom">
                <p-tabPanel header="Header II">
                    <ng-template pTemplate="header">
                        <i class="pi pi-comments"></i>
                        <span>Reviews</span>
                    </ng-template>
                    <app-reviews-page-driver></app-reviews-page-driver>
                </p-tabPanel>
                <p-tabPanel header="Header III">
                    <ng-template pTemplate="header">
                        <i class="pi pi-user-plus"></i>
                        <span>Requests</span>
                    </ng-template>
                    <div style= "height: 100%; overflow-y: scroll;">
                        <app-chat></app-chat>
                    </div>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>

